.idea/
**/*.iml
**/target/
**/logs/
**/static/
acs-logs/
**/node_modules/


yarn.lock
package-lock.json

/.vscode/settings.json

# SQLite 数据库文件
*.db
.qoder
.ox
/docs
/CLAUDE.md
.claude
.oxroot
AGENTS.md
.vscode
.reasonix
build.bat
reasonix.toml
run-compile.ps1
.mvn
.codegraph
.agents
.easyClaw/
/local